.register-page-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .register-page-header{
        margin-top: 50px;
    }
    & .sign-in-google-button{
        display: flex;
        align-items: center;
        border: solid 1px #E26454;
        border-radius: 5px;
        margin: 20px 0 30px;
        &:hover{
            cursor: pointer;
            & >h2{
                background-color: #C23321;
                
            }
        }
        & >h2{
            font-size: .9rem;
            color:white;
            background-color:#DD4B39 ;
            align-self: center;
            padding: 3px 40px 5px 10px;
            font-weight: 400;
        }
        & >span{
            margin-top: 2px;
            padding: 0px 6px;
            font-size: 1.1rem;
            
            & >img{
                width: 20px;
            }
        }
    }
    & .register-form{
        width: clamp(600px,50%, 700px);
        border:solid 2px #eeeeee;
        padding: 20px;
        margin-bottom: 20px;
        & .form-header{
            text-align: center;
            padding: 15px 0;
            border-bottom: solid 1px black;
            margin-bottom: 25px;
            font-weight:500;
        }
        & >h4{
            width: 100%;
            font-weight: 450;
            font-size: 1rem;
            & >span{
                color: #EA4335;
                margin-left: 3px;
            }
        }
        & >input[type=text]{
            border:solid 1px #E1E1E1;
            width: 96%;
            padding: 5px 12px;
            margin:5px 0 15px;
        }
        & >label{
            font-size: 1rem;
            font-weight: 470;
            width: 100%;
            display: flex;
            align-items: center;
           & >input{
                margin-right:5px;

           }
           & >span{
               margin-left: 20px;
               font-size: 1.3rem;
               margin-bottom: -2px ;
               color: #BBBBBB;
               &:hover{
                   cursor: pointer;
                   color: black;
               }
           }
        }
        & >button{
            width: 100%;
            padding: 9px 0;
            background-color: black;
            font-weight: 500;
            color: white;
            transition-duration: .4s;
            margin-bottom: 10px;
            &:hover{
                background-color: #E1A512;
                cursor: pointer;
            }
        }
        & >select{
            border:solid 1px #E1E1E1;
            width: 100%;
            padding: 5px 12px;
            margin:5px 0 15px;
        }
        & .error-message{
            color: #EA4335;
            margin-bottom: 5px;
        }
    }
}