.material-filter-container{

    & .material-filter-header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        padding-bottom: 20px;
        border-bottom: 1px solid #EEEEEE;
        & >h2{
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: uppercase;
        }
        
        & >button{
            background-color: transparent;
            color: #858585;
            font-size: 1.5rem;
            transition: linear .2s;
            :hover{
                cursor: pointer;
            }    
        }
    }
    & .material-filter-content{
        & >select{
            width: 98%;
            border: 2px solid #E1E1E1;
            padding: 5px 10px;
        }
    }
}
.rotate{
    & .material-filter-header{
        & >button{
            transform: rotate(-90deg);
        }
    }
    & .material-filter-content{
        display: none;
    }
}
